<h1>this is our  contact page</h1>
<h3>EMAIL : <B>flair@hospitals.com</B></h3>
<h3>phone : <B>8885690305</B></h3>
<h3>ADDRESS : <B>d.no:8-256,marathalli,near biriyanizone,KARNATAKA-5163006</B></h3>

<form action="/hotel/contact/" method = "POST">
    {%csrf_token%}
   PATIENT NAME: <input type="text" name="patient name"><br></br>
    PHONE NUMBER: <input type="number" name="patient phone number"><br></br>
    address: <input type="text" name="address"><br></br>
    email: <input type="email" name="email"><br></br>
                <input type="submit" name="submit">


</form>
<a href="{% url 'hotelmanagement:index' %}">back</a>
